.content_post p {
  font-size: 1.06667rem;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

aside {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper aside {
    width: 32%;
  }

  .content_post {
    width: 65%;
  }

  aside {
    display: inline-block;
  }

  .post {
    display: flex;
  }

  .content_post {
    padding-top: 21px;
  }
}



@media screen and (min-width: 1024px) {
  .post {
    display: flex;
  }

  .content_post {
    padding-top: 21px;
  }

}