.content_item img {
  border-radius: 16px;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.content_item a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .content_title {
    height: 52px;
  }

  .content_item {
    display: inline-block;
    width: 49%;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .content_item {
    display: inline-block;
    width: 31.6%;
    margin-left: 1%;
  }
}