@media screen and (min-width: 768px) {
  .content_item {
    display: flex;
    justify-content: space-around;
  }

  .image_categories {
    width: 43%;
    height: 190px;
    overflow: hidden;
  }

  .content_title {
    height: 52px;
  }
}

@media screen and (min-width: 1024px) {
  .image_categories {
    width: 48%;
    height: 90%;
  }

  .content_title {
    height: 40px;
  }
}
