
.contactoesp {
  display: none;
}

@media screen and (min-width: 768px) {

  .instituciones,
  .contactoesp {
    display: initial;
    width: 49%;
  }

  .footer-enlace {
    padding: 14px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .instituciones {
    display: initial;
  }
  .contactoesp,
  .instituciones,
  .enlacesdeinteres {
    padding-left: 10px;
    width: 31%;
  }
}