.contacto, .intituciones {
    display: none;
}
  
.footer-enlaces {
    padding: 5px 7px 4px 0px;
    border-left: solid 4px #e00816;
}

  h5 {
      font-weight: 300;
      margin: 2px;
      padding: 4px;
  }

  h4 {
    font-weight: 400;
    padding-left: 8px;
    margin: 4px;
  }

  footer {
    background-color: #4d4949;
    color: white;
    display: flex;
    justify-content: space-around;
  }
  

  .footer-title {
    padding-left: 12px;
    margin-bottom: 10px;

  }



  @media screen and (min-width: 768px) {
    .contacto {
        display: initial;
    }

    @media screen and (min-width: 1024px) {
        .intituciones {
            display: initial;
        }       
    }    
  }  