.contacto,
.instituciones {
  display: none;
}

.footer-level1 {
  display: flex;
  justify-content: space-between;
}

.footer-level2 {
  text-align: center;
  padding: 10px 0;
  background-color: rgb(20, 18, 18);
  font-size: 14px;
}


@media screen and (min-width: 768px) {

  .instituciones,
  .contacto {
    display: initial;
    width: 49%;
  }

  .footer-enlace {
    padding: 14px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .instituciones {
    display: initial;
  }

  .contacto,
  .instituciones,
  .enlacesdeinteres {
    width: 31%;
    padding-left: 10px;
  }

}