h1 {
  text-align: center;
  margin: 2px;
  font-size: 1.1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 7px 1px;
  height: 45px;
}