header {
  background: #efefef;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 7px 1px;
  height: 45px;

}

.nav-language {
  font-size: 0.8rem;
  width: 70px;
  font-weight: 600;
  border: 2px solid red;
}

.nav-language a {
  align-items: center;
  padding: 4px;
}